<% include header %>

<div class="container">
  <h1>Inkokie Printing Services</h1>
  <img src="/inkokie-logo.jpg" />
  <p class="lead">
    We’re open 7 days, so start your shopping experience now!
  </p>
  <p>
    The Messenger Bot of Inkokie Printing Services
  </p>
  <ul>
    <li>
      <a href="https://www.facebook.com/Inkokie-110686403786666/"
        >Inkokie Website</a
      >
    </li>
    <li>
      Wan't to build your own?
      <a
        href="https://www.facebook.com/Inkokie-110686403786666/"
        >Contact Us</a
      >
    </li>
  </ul>
</div>

<% include footer %>
